<div class="container">
  <form [formGroup]="villeFormGroup" *ngIf="villeFormGroup">
    <div class = "form-group">
      <label>IdVille</label>
      <input type ="text" class="form-control" formControlName="idville" readonly>
    </div>

    <div class = "form-group">
      <label>Nom</label>
      <input type ="text" class="form-control" formControlName="nom" [ngClass]="{'is-invalid': submitted && villeFormGroup.controls.nom.errors, 'is-valid':submitted && !villeFormGroup.controls.nom.errors}">
      <div *ngIf="submitted && villeFormGroup.controls.nom.errors" class="invalid-feedback">
        <div *ngIf="villeFormGroup.controls.nom.errors.required">
          Nom obligatoire
        </div>
      </div>
    </div>

    <div class = "form-group">
      <label>Latitude</label>
      <input type ="text" class="form-control" formControlName="latitude" [ngClass]="{'is-invalid': submitted && villeFormGroup.controls.latitude.errors, 'is-valid':submitted && !villeFormGroup.controls.latitude.errors}">
      <div *ngIf="submitted &&  villeFormGroup.controls.latitude.errors" class ="invalid-feedback">
        <div *ngIf="villeFormGroup.controls.latitude.errors.required">
          Latitude obligatoire
        </div>
      </div>
    </div>

    <div class = "form-group">
      <label>Longitude</label>
      <input type ="text" class="form-control" formControlName="longitude" [ngClass]="{'is-invalid': submitted && villeFormGroup.controls.longitude.errors, 'is-valid':submitted && !villeFormGroup.controls.longitude.errors}">
      <div *ngIf="submitted &&  villeFormGroup.controls.longitude.errors" class ="invalid-feedback">
        <div *ngIf="villeFormGroup.controls.longitude.errors.required">
          Longitude obligatoire
        </div>
      </div>
    </div>

    <div class = "form-group">
      <label>Pays</label>
      <input type ="text" class="form-control" formControlName="pays" [ngClass]="{'is-invalid': submitted && villeFormGroup.controls.pays.errors, 'is-valid':submitted && !villeFormGroup.controls.pays.errors}">
      <div *ngIf="submitted &&  villeFormGroup.controls.pays.errors" class="invalid-feedback">
        <div *ngIf="villeFormGroup.controls.pays.errors.required">
          Pays obligatoire
        </div>
      </div>
    </div>

    <br>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <button (click)="onUpdateVille()" class="btn btn-success">
        Mettre à jour
      </button>

      <button (click)="onShowCoureursVille()" class="btn btn-success">
        Coureur
      </button>
    </nav>
    <br>
  </form>
</div>

<div class="container">
  <ng-container *ngIf="coureurs" >
    <ng-container *ngIf="coureurs.length>0 else vide">
      <table class="table">
        <thead>
        <th>IdCoureur</th>
        <th>Matricule</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>DateNaissance</th>
        <th>Nationalité</th>
        </thead>
        <tbody>
        <tr *ngFor="let co of coureurs">
          <td>{{co.idcoureur}}</td>
          <td>{{co.matricule}}</td>
          <td>{{co.nom}}</td>
          <td>{{co.prenom}}</td>
          <td>{{co.datenaiss | date:'dd-MM-yyyy'}}</td>
          <td>{{co.nationalite}}</td>
        </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #vide>
      <br><div>Aucun coureur habitant dans cette ville</div>
    </ng-template>
    <br>
    <h3>Ajout coureur</h3>
    <app-newcoureur [viact]="villeFormGroup" (newCoureur)="addCoureur($event)"></app-newcoureur>
  </ng-container>
</div>


